p {
    color:black;
}

head {
    color:blue;
}
h1{
    color: purple;
    font-family: 'Courier New', Courier, monospace;
}
h2{
    color: cornflowerblue;
    font-family: 'Courier New', Courier, monospace;
}
h3{
    color: darkorchid;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h4{
    color: darkgoldenrod;
}
li{
    color: fuchsia;
}
.Week2 img{
    border-radius: 100%;
    transform: scale(0.5);
    height: 300px;
    width: 300px;
}
.ending{
    color: blue;
}
